.home-page-carousel2 {
    width: 100%;
    aspect-ratio: 16/8;

    @media (width < 640px) {
        aspect-ratio: 3/4;
    }
}

.home-page-carousel2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-carousel2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page-carousel2 .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: max-content;

    @media (width < 992px) {
        padding-inline: 10px;
    }

    @media (width < 768px) {
        display: none;
    }
}

.home-page-carousel2 .swiper-pagination-bullet {
    display: block;
    flex: 1;
    height: max-content;
    padding: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #979797;
    opacity: 1;
    background: transparent;
    border-radius: 0;

    @media (width < 992px) {
        font-size: 12px;
        font-weight: 600;
        padding: 10px;
    }
}

.home-page-carousel2 .swiper-pagination-bullet-active {
    color: #5C5C5C;
}

.home-page-carousel2 .swiper-button-prev {
    color: gray;

    @media (width < 768px) {
        display: none;
    }
}

.home-page-carousel2 .swiper-button-next {
    color: gray;
}