

.home-page-carousel1 {
    width: 100%;
    height: 100%;
}

.home-page-carousel1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.home-page-carousel1 .swiper-slide:active {
    cursor: grabbing;
}

.home-page-carousel1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}